html, body {
    height: 100%;
}

app {
    display: block;
    height: 100%;
}

.header-logo {
    flex-shrink: 0;
    background-color: currentColor;
    -webkit-mask: url('../images/Logo.svg');
    mask: url('../images/Logo.svg');
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 1800px;
    height: 24px;
}

#blazor-error-ui {
    background: inherit;
    bottom: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100001;
}

.dxbl-group > .dxbl-group-header > .dxbl-text {
    color: deeppink;
    font-weight: bold;
}

.dxbl-fl .dxbl-fl-item.dxbl-fl-item-horizontal > .dxbl-fl-cpt {
    font-weight: bold;
}

.dxbl-fl .dxbl-fl-group > .dxbl-group {
    box-shadow: 5px 5px 20px cadetblue;
    border-radius: 0px 15px;
}

.dxbl-grid {
    box-shadow: 5px 5px 20px cadetblue;
}
